[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/vendor/start/SimpylFold"]
	path = vim/pack/vendor/start/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/pack/vendor/start/tmuxline.vim"]
	path = vim/pack/vendor/start/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "vim/pack/vendor/start/vim-tmux-navigator"]
	path = vim/pack/vendor/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/pack/vendor/opt/vim-markdown"]
	path = vim/pack/vendor/opt/vim-markdown
	url = git@github.com:preservim/vim-markdown.git
[submodule "vim/pack/vendor/opt/goyo"]
	path = vim/pack/vendor/opt/goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "vim/pack/vendor/opt/vim-wordy"]
	path = vim/pack/vendor/opt/vim-wordy
	url = git@github.com:preservim/vim-wordy.git
[submodule "vim/pack/vendor/opt/vim-pencil"]
	path = vim/pack/vendor/opt/vim-pencil
	url = git@github.com:preservim/vim-pencil.git
[submodule "vim/pack/vendor/opt/thesaurus_query"]
	path = vim/pack/vendor/opt/thesaurus_query
	url = git@github.com:Ron89/thesaurus_query.vim.git
[submodule "vim/pack/vendor/opt/vim-LanguageTool"]
	path = vim/pack/vendor/opt/vim-LanguageTool
	url = git@github.com:dpelle/vim-LanguageTool.git
[submodule "vim/pack/vendor/opt/vim-conda"]
	path = vim/pack/vendor/opt/vim-conda
	url = git@github.com:cjrh/vim-conda.git
[submodule "vim/pack/vendor/opt/jedi"]
	path = vim/pack/vendor/opt/jedi
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "vim/pack/vendor/start/vim-signify"]
	path = vim/pack/vendor/start/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "vim/pack/vendor/start/rainbow"]
	path = vim/pack/vendor/start/rainbow
	url = git@github.com:luochen1990/rainbow.git
